
# use glob syntax.
syntax: glob

# Generated/compiled
*.ser
*~
*.bak
*.off
*.old
.DS_Store

# sbt
target
dist
lib_managed
src_managed
project/boot
project/project

# IntelliJ
.idea
.idea_modules

# Personal credentials
credentials.sbt

# Play
logs
tmp
.cache