@(searchForm: Form[VehicleSearchForm], makes: List[String])(implicit messages: Messages)

@import helper._

@wrapper(title = "DVLA Vehicle Tax Search") {

  <h1>Details of the vehicle being checked</h1>

  @form(action = routes.Dvla.search()) {
    @inputText(searchForm("numberPlate"))
    @select(field = searchForm("make"), options = options(makes))

    <div class="buttons">
      <input type="submit" value="Search"/>
    </div>
  }

  <br/>
  <br/>
  <div style="color: grey">
    Pre-loaded test data:
    <ul>
      <li>HK55 TFU - Land Rover</li>
      <li>FN02 KTD - Audi</li>
      <li>MC65 MCL - McLaren</li>
    </ul>
  </div>
}